{% extends 'front-end/base.html' %}
{% load static %}

{% block content %}

<!-- Breadcrumb Section Start -->
<section class="breadcrumb-section pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <h2 class="mb-2">Log In</h2>
                    <nav>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active">Log In</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- log in section start -->
<section class="log-in-section background-image-2 section-b-space">
    <div class="container-fluid-lg w-100">
        <div class="row">
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="{% static '/front/assets/images/inner-page/log-in.png' %}" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                <div class="log-in-box">
                    <div class="log-in-title">
                        <h3>Welcome To Fastkart</h3>
                        <h4>Log In Your Account</h4>
                    </div>
                    
                    <div class="input-box">
                        <!-- Use Django's form handling -->
                        <form class="row g-4" method="POST">
                            {% csrf_token %}  <!-- CSRF protection -->
                    
                            <!-- Display form errors if credentials are invalid -->
                            {% if form.non_field_errors %}
                            <div class="col-12">
                                <div class="alert alert-danger">
                                    {% for error in form.non_field_errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                    
                            <!-- Username (email) field -->
                            <div class="col-12">
                                <div class="form-floating theme-form-floating log-in-form">
                                    <input type="text" class="form-control" id="id_username" name="username" placeholder="Email Address" value="{{ form.username.value|default:'' }}">
                                    <label for="id_username">Email Address</label>
                                    <!-- Show field-specific errors -->
                                    {% if form.username.errors %}
                                    <div class="text-danger">
                                        {{ form.username.errors.0 }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                    
                            <!-- Password field -->
                            <div class="col-12">
                                <div class="form-floating theme-form-floating log-in-form">
                                    <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" value="{{ form.password.value|default:'' }}">
                                    <label for="id_password">Password</label>
                                    <!-- Show field-specific errors -->
                                    {% if form.password.errors %}
                                    <div class="text-danger">
                                        {{ form.password.errors.0 }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                    
                            <!-- Remember me and Forgot Password -->
                            <div class="col-12">
                                <div class="forgot-box">
                                    <div class="form-check ps-0 m-0 remember-box">
                                        <input class="checkbox_animated check-box" type="checkbox" id="flexCheckDefault" name="remember">
                                        <label class="form-check-label" for="flexCheckDefault">Remember me</label>
                                    </div>
                                    <a href="{% url 'password_reset' %}" class="forgot-password">Forgot Password?</a>
                                </div>
                            </div>
                    
                            <!-- Submit button -->
                            <div class="col-12">
                                <button class="btn btn-animation w-100 justify-content-center" type="submit">Log In</button>
                            </div>
                        </form>
                    </div>
                    
                    <!-- Display other messages -->
                    {% if messages %}
                    <div class="alert alert-info">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    

                    <div class="other-log-in">
                        <h6>or</h6>
                    </div>

                    <div class="log-in-button">
                        <ul>
                            <li>
                                <a href="https://www.google.com/" class="btn google-button w-100">
                                    <img src="{% static '/front/assets/images/inner-page/google.png' %}" class="blur-up lazyload" alt="">
                                    Log In with Google
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" class="btn google-button w-100">
                                    <img src="{% static '/front/assets/images/inner-page/facebook.png' %}" class="blur-up lazyload" alt="">
                                    Log In with Facebook
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="other-log-in">
                        <h6></h6>
                    </div>

                    <div class="sign-up-box">
                        <h4>Don't have an account?</h4>
                        <a href="{% url 'register' %}">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- log in section end -->

{% endblock %}